*{
    font-family: "Poppins", sans-serif;
}

.btn{

    background-color: white;
    border: 2 solid white;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.section-2{

    background-image: url("./image/Hero\ BG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.536); 
    width: 100%;
    max-width: auto;
    height: 600px;
}